*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
}
#container {   
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;


};


.cell{
    
    /* border: 1px solid whitesmoke; */
}

.rows, .columns{

    border: 1px solid;

}
